footer {
  font-weight: 300;
  border-top: 3px dashed $mainBgColor;
  display: flex;
  flex-direction: row;
  align-items: center;
  div {
    flex-grow: 1;
  }
  .footer-links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    div {
      display: flex;
      flex-grow: 1;
      flex-direction: row;
      justify-content: flex-start;
      align-items: center;
      min-height: 4rem;
      color: lighten($footer-background-color, 35%);
      svg,
      .svg-inline--fa,
      i.fa {
        width: 2rem;
        margin: 1rem;
      }
      a {
        color: lighten($footer-background-color, 35%);
        font-weight: bold;
      }
    }
  }

  .footer-copyright {
    text-align: right;
    color: lighten($footer-background-color, 25%);
    font-size: 0.85rem;
  }
}
