header {
  height: $headerSize;
  min-height: $headerSize;
  background: $headerBgColor;
  padding: 0.2rem 1rem;
  display: grid;
  grid-template-areas:
    "title user-actions"
    "breadcrumb user-actions";
  grid-template-columns: auto auto;
  h2.titles {
    grid-area: title;
    &:not(:first-child) {
      margin: 0.2rem 0 0;
    }
    font-weight: 300;
    color: #273c75;
    margin: 0;
  }

  .breadcrumb {
    grid-area: breadcrumb;
    &:not(:last-child) {
      margin: 0;
    }
    ul,
    li + li {
      margin: 0;
    }
    li {
      font-size: 0.8rem;
    }
  }

  .logo-mobile {
    grid-area: logo-mobile;
  }

  .user-actions {
    grid-area: user-actions;
    justify-self: end;
    display: flex;
  }

  .dropdown {
    align-items: center;
    display: flex;
    .dropdown-trigger {
      display: flex;
      align-items: center;
      button.button {
        height: $headerSize;
        background: transparent;
        border: none;
      }
    }
    .dropdown-menu {
      padding: 0;
      .dropdown-content {
        background: ligthen($mainBgColor, 10%);
        border-radius: 0px 0px 6px 6px;
        box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
        .dropdown-item i.fa,
        svg {
          width: 1.05rem;
          margin-right: 0.5rem;
        }
      }
    }
  }
  .user-avatar {
    margin: 0 0.5625rem 0 0;
    img {
      max-height: 2.625rem;
      height: 2.625rem;
      border-radius: 290486px;
    }
  }
}

.menu-toggler {
  grid-area: menu-toggler;
  width: 3.125rem;
  height: 2.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 1rem;
  cursor: pointer;
  z-index: 1500;
}

#dropdown-notifications {
  margin-right: 2rem;
  button {
    i.fa,
    i.fas,
    svg {
      font-size: 1.5rem;
    }
  }
  span.bagde {
    border-radius: 50%;
    font-size: 0.8rem;
    font-weight: bold;
    background: #eb3b5a;
    color: #d1d8e0;
    position: absolute;
    top: 0.8rem;
    right: -0.3rem;
    padding: 0.1rem 0.3rem;
  }

  &.has-notification {
    i.fa,
    i.fas,
    svg {
      animation: ring 4s 0.7s ease-in-out infinite,
        alert 4s 0.7s ease-in-out infinite;
      transform-origin: 50% 4px;
    }
  }
}
// Header layout at small screens
@media only screen and (max-width: $tablet) {
  header {
    grid-template-areas:
      "title user-actions menu-toggler"
      "breadcrumb breadcrumb breadcrumb";
    grid-template-columns: auto 2.5rem 2.5rem;
    grid-column-gap: 0.7rem;
    align-items: center;
    height: auto;
    box-shadow: 0 0.2rem 0.2rem 0 #353b48;
    z-index: 10;
    h2.titles {
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}

@keyframes alert {
  0% {
    color: #363636;
  }

  20% {
    color: #eb3b5a;
  }
}

@keyframes ring {
  0% {
    transform: rotate(0);
  }
  1% {
    transform: rotate(30deg);
  }
  3% {
    transform: rotate(-28deg);
  }
  5% {
    transform: rotate(34deg);
  }
  7% {
    transform: rotate(-32deg);
  }
  9% {
    transform: rotate(30deg);
  }
  11% {
    transform: rotate(-28deg);
  }
  13% {
    transform: rotate(26deg);
  }
  15% {
    transform: rotate(-24deg);
  }
  17% {
    transform: rotate(22deg);
  }
  19% {
    transform: rotate(-20deg);
  }
  21% {
    transform: rotate(18deg);
  }
  23% {
    transform: rotate(-16deg);
  }
  25% {
    transform: rotate(14deg);
  }
  27% {
    transform: rotate(-12deg);
  }
  29% {
    transform: rotate(10deg);
  }
  31% {
    transform: rotate(-8deg);
  }
  33% {
    transform: rotate(6deg);
  }
  35% {
    transform: rotate(-4deg);
  }
  37% {
    transform: rotate(2deg);
  }
  39% {
    transform: rotate(-1deg);
  }
  41% {
    transform: rotate(1deg);
  }

  43% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(0);
  }
}
