// Imports
@import "header";
@import "content";
@import "footer";
@import "menu";

html {
  font-size: $fontSize;
  height: 100%;
  overflow: auto;
  body {
    font-family: $fontFamily;
    .app {
      height: 100%;
      display: flex;
    }
    .content {
      height: 100%;
      display: flex;
      flex-direction: column;
      margin-left: $sideMenuSize;
    }
  }
}
