$arrowColor: #00a8ff;
$activatedColor: #fbc531;
$openedSubmenuItemBg: #487eb0;
$activatedItemBg: #40739e;

aside#side-menu {
  background: $sideMenuBgColor;
  background: $sideMenuBgColorGradient;
  width: $sideMenuSize;
  position: fixed;
  min-height: 100%;
  float: left;
  .brand {
    height: $headerSize;
  }
}

#main-menu {
  font-weight: 300;
  padding: 0;
  a {
    color: #ffffff;
    line-height: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    & > i.fa,
    & > svg {
      margin: 0 1rem 0 0;
      width: 1.3rem;
      height: 1.3rem;
      text-align: center;
    }
  }
  li.item {
    // All states
    cursor: pointer;
    a {
      padding: 0 1rem;
      span.arrow {
        border: solid $arrowColor;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        position: absolute;
        right: 1rem;
      }

      &:hover {
        border-left: 0.2rem solid #a5b1c2;
      }
    }

    // Closed
    &:not(.opened) {
      a {
        span.arrow {
          transform: rotate(-45deg); // right
        }
        &:hover {
          span.arrow {
            animation: slide-right 0.5s ease-in-out infinite;
          }
        }
      }
    }
    // Opened
    &.opened {
      a {
        span.arrow {
          transform: rotate(45deg); // down
        }
        &:hover {
          span.arrow {
            animation: slide-up 0.5s ease-in-out infinite;
          }
        }
      }
    }

    // Opened Submenus
    &.opened .submenu {
      display: block;
    }

    // All States submenus
    .submenu {
      display: none;
      background: $openedSubmenuItemBg;
      li a {
        padding-left: 2.25rem;
      }
    }
  }

  li.active {
    background: $activatedItemBg;
    border-left: 0.4rem solid desaturate($activatedColor, 65%);
    font-weight: 400;
    i.fa:first-child,
    svg:first-child {
      color: $activatedColor;
    }
  }
}

@keyframes slide-right {
  0%,
  100% {
    transform: translate(0, 0) rotate(-45deg);
  }
  50% {
    transform: translate(0.2rem, 0) rotate(-45deg);
  }
}
@keyframes slide-up {
  0%,
  100% {
    transform: translate(0, 0) rotate(-135deg);
  }
  50% {
    transform: translate(0, 0.2rem) rotate(-135deg);
  }
}
