aside#side-menu {
  background: $sideMenuBgColor;
  background: $sideMenuBgColorGradient;
  width: $sideMenuSize;
  position: fixed;
  min-height: 100%;
  float: left;
  .brand {
    height: $headerSize;
  }
}

#main-menu {
  a {
    color: #ffffff;
  }
}
