aside#side-menu {
  background: $sideMenuBgColor;
  background: $sideMenuBgColorGradient;
  width: $sideMenuSize;
  position: fixed;
  min-height: 100%;
  float: left;
  .brand {
    height: $headerSize;
  }
}

#main-menu {
  font-weight: 300;
  padding: 0;
  & > ul {
    margin: 1rem 0rem;
  }
  a {
    color: #ffffff;
    line-height: 2.5rem;
    height: 2.5rem;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    & > i.fa,
    & > svg {
      margin: 0 2rem 0 0;
      width: 1.3rem;
      height: 1.3rem;
      text-align: center;
    }
  }
  li.item {
    cursor: pointer;
    &:hover,
    &.opened {
      background: rgba(75, 101, 133, 0.6);
      a span.arrow {
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
      }
    }
    a {
      padding: 0 1rem;
      span.arrow {
        border: solid $headerBgColor;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 3px;
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
        position: absolute;
        right: 1rem;
      }
    }
    &.opened .submenu {
      display: block;
    }
  }

  .submenu {
    display: none;
    background: rgba(75, 101, 133, 0.6);

    ul > li:hover {
      background: rgba(75, 101, 133, 0.7);
    }
  }
}
