$fontSize: 16px;
$fontFamily: "Lato", sans-serif;
$family-sans-serif: $fontFamily;

// Main
$mainBgColor: #f5f6fa;

// Header
$headerSize: 4.5rem;
$headerBgColor: #dcdde1;
$headerBgColorGradient: linear-gradient(
  90deg,
  $headerBgColor 73%,
  $mainBgColor 100%
);

// Footer
$footerMinSize: 10rem;
$footer-background-color: #dcdde1;
$footer-padding: 2rem 1rem;

// SideMenu
$sideMenuSize: 15rem;
$sideMenuBgColor: #4b7bec;
$sideMenuBgColorGradient: linear-gradient(135deg, #40739e 0%, #0097e6 100%);
