$fontSize: 16px;

// Main
$mainBgColor: #dce0e4;

// Header
$headerSize: 4.5rem;
$headerBgColor: lighten($mainBgColor, 5%);
$headerBgColorGradient: linear-gradient(
  90deg,
  $headerBgColor 73%,
  $mainBgColor 100%
);

// Footer
$footerMinSize: 10rem;
$footerBgColor: #a5b1c2;
$footer-background-color: #a5b1c2;

// SideMenu
$sideMenuSize: 15rem;
$sideMenuBgColor: #4b7bec;
$sideMenuBgColorGradient: linear-gradient(90deg, #4b7bec 13%, #3867d6 100%);
